body {
    display: grid;
    grid-template-rows: 80px auto;
    grid-template-areas: "title""content";
    justify-items: center;
    align-items: center;
}

.image {
    grid-area: content;
}

.image-holder {
    height: 350px;
    width: 550px;
    border: 1px solid black;
    background-color: rgb(204, 196, 196);
    display: flex;
    justify-content: center;
    vertical-align: auto;
}

.title {
    grid-area: title;
}

.button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(47, 47, 187);
    font-size: 17px;
    color: white;
}