<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Image Checker</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1 class="title">Social media</h1>
    <div class="image">
      <div class="image-holder"></div>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="photo" />
        <input type="submit" value="upload" class="button" />
      </form>
    </div>
  </body>
</html>
